<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homework10"
    android:installLocation="auto">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="赵欣欣-18990306"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewFlipperActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ToolbarCustomActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".ToolbarActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity android:name=".TabThirdActivity" />
        <activity android:name=".TabSecondActivity" />
        <activity
            android:name=".TabHostActivity"
            android:exported="true" />
        <activity
            android:name=".TabGroupActivity"
            android:exported="true" />
        <activity
            android:name=".TabFragmentActivity"
            android:exported="true" />
        <activity android:name=".TabFirstActivity" />
        <activity
            android:name=".TabLayoutActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".TabCustomActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".TabButtonActivity"
            android:exported="true" />
        <activity android:name=".SwipeRefreshActivity" />
        <activity android:name=".SwipeRecyclerActivity" />
        <activity
            android:name=".SearchViewActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".SearchResultActvity"
            android:theme="@style/AppCompatTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".RecyclerStaggeredActivity" />
        <activity android:name=".RecyclerLinearActivity" />
        <activity android:name=".RecyclerGridActivity" />
        <activity android:name=".RecyclerDynamicActivity" />
        <activity android:name=".RecyclerCombineActivity" />
        <activity
            android:name=".OverflowMenuActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".BannerTopActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".BannerPagerActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".BannerIndicatorActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>