<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homework11">
    <!-- 在SDCard中创建与删除文件权限 -->
    <permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAG" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="赵欣欣-18990306"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".BannerTopActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".BannerPagerActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".BannerIndicatorActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".TabLayoutActivity"
            android:exported="true" />
        <activity
            android:name=".RecyclerDynamicActivity"
            android:exported="true" />
        <activity
            android:name=".RecyclerStaggeredActivity"
            android:exported="true" />
        <activity
            android:name=".RecyclerCombineActivity"
            android:exported="true" />
        <activity
            android:name=".RecyclerGridActivity"
            android:exported="true" />
        <activity
            android:name=".RecyclerLinearActivity"
            android:exported="true" />




        <activity
            android:name=".SearchResultActvity"
            android:theme="@style/AppCompatTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".SearchViewActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".OverflowMenuActivity"
            android:exported="true" />
        <activity
            android:name=".ToolbarActivity"
            android:exported="true" />
        <activity android:name=".TabThirdActivity" />
        <activity android:name=".TabSecondActivity" />
        <activity android:name=".TabFirstActivity" />
        <activity
            android:name=".TabFragmentActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".TabHostActivity"
            android:exported="true" />
        <activity android:name=".BroadTempActivity" />
        <activity
            android:name=".ShoppingCartProActivity"
            android:exported="true" />
        <activity
            android:name=".LaunchSimpleActivity"
            android:exported="true" />
        <activity
            android:name=".ShoppingCartActivity"
            android:exported="true" />
        <activity
            android:name=".ShoppingChannelActivity"
            android:exported="true" />
        <activity
            android:name=".ShoppingDetailActivity"
            android:theme="@style/AppCompatTheme" />
        <activity
            android:name=".SQLiteWriteActivity"
            android:exported="true" />
        <activity
            android:name=".SQLiteReadActivity"
            android:exported="true" />


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>